body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

#nav-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#single-story {
  display: flex;
  flex-direction: row;
  align-items: center;
}

#story-entry {
  display: grid;
  grid-template-rows: 25% 100px auto;
  grid-template-columns: 40px 50px auto 50px 40px;
}

#night-container {
  background-color: black;
}

#night-text {
  color: white;
}

/* This stuff is half styled but the wrap doesnt
 * doesnt work on the big textbox and also
 * needs aditional front end work
 */
#title-entry {
  grid-column-start: col-start 2;
}

.big-textbox {
  display: flex;
  height: 200px;
  width: 400px;
  border-radius: 10%;
  flex-wrap: wrap;
}
